

h1 {
    font-style: italic;
    color: blue;
    background-color: beige;
}

#button {
    color: rgb(255, 72, 0);
    font-size: large;
    wi

     
}
#button2 {
    color: blueviolet;
    font-size: large;
}